black==22.3.0
blackcellmagic==0.0.3
ipython>=8.2.0
Jinja2==3.1.1
jupyter>=1.0.0
matplotlib>=3.5.1
notebook>=6.4.10
notexbook-theme==2.0.1
numpy>=1.21.2
opacus>=1.1.1
pandas>=1.4.2
phe==1.4.0
scikit-learn>=1.0.2
scipy==1.8.0
syft==0.5.0
torch==1.8.1
torchcsprng==0.2.1
torchvision==0.9.1
tqdm>=4.64.0