hagrid<0.3.122
ipykernel>=6.19
ipython>=8.12
jupyter==1.0.0
jupyterlab>=3.6
notebook>=6.5
opacus>=1.4
opendp>=0.9.2
pandas>=1.5
pillow>=9.4
pip>=23.1
pydantic>=1.10
torch>=1.13
scikit-learn>=1.2.2
scipy>=1.10
setuptools>=67.8.0
syft==0.8.6
torchvision>=0.14.1
tqdm>=4.65.0
notexbook-theme==2.0.1
phe>=1.5
